@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.dropdown .dropbtn {
    border: none;
    padding: 9px 24px;
    background: none;
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-nav :hover {
    color: blue;
}

.nav-section {
    left: -34px;
    right: 0;
    padding: 12px 32px;
    z-index: 2;
    box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
}

.navbar-toggler:focus {
    text-decoration: none;
    box-shadow: none;
}

.header_a {
    color: rgb(23, 43, 77);
    padding: 0.7rem 1.5rem;
}

.header_getTrello {
    background-color: rgb(0, 101, 255);
    color: rgb(255, 255, 255);
}

.header_getTrello:hover {
    background-color: rgb(7, 71, 166);
    color: rgb(255, 255, 255);
}

.btn {
    padding: 14px 24px;
    border: none;
}

.btn:hover {
    color: 0;
    background-color: white;
    border-color: none;
}

h1 {
    font-size: 2.813;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 1.12px;
}

h2 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.33333;
    letter-spacing: 1.12px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.12px;
}

h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.12px;
}

p {
    font-size: 1.188rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-16 {
    font-size: 16px;
    margin-bottom: 0;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
    line-height: 30px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-48 {
    font-size: 48px;
}

/* hero section start */
.hero-section {
    background: url(/assests/images/white-wave-bg\ \(1\).svg) center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    color: rgb(255, 255, 255);
    background-blend-mode: normal, normal;
}

.form-control {
    padding: 12px 24px;
    width: 304px;
}

.form-control:focus {
    box-shadow: none;
    border-color: white;
}

.video-container {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.btn-secondary {
    background: rgb(0, 101, 255);
    color: white;
    border-radius: 0;
}

.btn-secondary:focus {
    color: white;
    background-color: rgb(0, 101, 255);
    box-shadow: none;
}

.btn-secondary:active:focus {
    box-shadow: none;
    background-color: rgb(0, 101, 255);
    color: white;
}

.btn-secondary:hover {
    color: white;
    background-color: rgb(7, 71, 166);
    border-color: rgb(7, 71, 166);
}

/* hero section end */

/* Thumbnails-Container */
.Thumbnail-section {
    background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
    background-blend-mode: normal;
    color: rgb(9, 30, 66);
}

.thumbnail-container {
    flex: 1;
}

.main-slide {
    flex: 2.3;
}

.thumbnail {
    cursor: pointer;
    border: 8px solid transparent;
}

.thumbnail.active {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
    border-left: 8px solid rgb(0, 199, 229);
}

/* Thumbnails-Container End*/
.heading_button a {
    color: rgb(9, 30, 66);
    border: 1px solid rgb(0, 101, 255);
    padding: 0.7rem 1rem 0.8rem;
}

.heading_button a:hover {
    background-color: rgb(222, 235, 255);
    border-color: rgb(0, 101, 255);
}

/* swiper slider */
.swiper .content-wrapper .content {
    cursor: pointer;
    height: 63%;
    padding: 2.25rem 1.5rem 1.5rem;
}

.swiper-avatar {
    border-style: solid;
    border-width: 8px;
    width: 3rem;
    top: 28px;
}

.bg-pink {
    background: rgb(249, 156, 219);
}

.swiper-nav-wrapper {
    right: 130px;
    z-index: 1;
}

.swiper-nav-wrapper svg path {
    stroke: rgb(122, 134, 154);
}

.swiper-nav-wrapper:hover svg path {
    stroke: rgb(0, 184, 217);
}

.swiper-button-next,
.swiper-button-prev {
    &:after {
        display: none;
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: grey;
    width: 30px;
    height: 30px;
    margin: 0;
    background-color: rgb(244, 245, 247);
    border-radius: 50%;
}

/* swiper slider End*/

/* Blog-Card */
.Blog-section {
    background: url(/assests/images/left-gradient.svg) left center / contain no-repeat scroll padding-box border-box,
        url(/assests/images/right-gradient.svg) right center / contain no-repeat scroll padding-box border-box,
        linear-gradient(240deg, rgb(0, 184, 217), rgb(0, 101, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(0, 101, 255);
    background-blend-mode: normal, normal, normal;
}

.card_box_shadow {
    box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
}

.blogIcon-1 {
    color: rgb(135, 119, 217);
    width: 3rem;
}

.blogIcon-2 {
    width: 3rem;
    color: rgb(0, 199, 229);
}

.Blog_button a {
    border: 1px solid rgb(0, 101, 255);
    background-color: rgb(255, 255, 255);
    padding: 0.7rem 1rem 0.8rem;
    color: rgb(23, 43, 77);
}

.Blog_button a:hover {
    background-color: rgb(222, 235, 255);
    border-color: rgb(0, 101, 255);
    color: rgb(23, 43, 77);
}

.Blog-card {
    margin-bottom: -13rem;
}

/* Blog-Card  End */

/* Cards */
.Trello-card {
    background-color: rgb(250, 251, 252);
}

.Trello-card a {
    border: 1px solid rgb(0, 101, 255);
    background-color: rgb(255, 255, 255);
    padding: 0.7rem 1rem 0.8rem;
    color: rgb(23, 43, 77);
}

.Trello-card a:hover {
    background-color: rgb(222, 235, 255);
    border-color: rgb(0, 101, 255);
    color: rgb(23, 43, 77);
}

/* Cards End */

/* surveyCard-Container */
.surveyCard {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(9, 30, 66, 0.2) 0px 3px 5px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    background-image: url(/assests/images/gvcsd.svg);
    background-repeat: no-repeat;
}

.swiper-text {
    padding: 2.5rem 2rem;
    background: linear-gradient(60deg, rgb(101, 84, 192), rgb(249, 156, 219)) 0% 0% / auto repeat scroll padding-box border-box rgb(101, 84, 192);
    box-shadow: rgba(9, 30, 66, 0.2) 0px 3px 5px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
}

.border-center::before {
    background-color: currentcolor;
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 1rem;
    max-width: 9rem;
}

.survey img {
    max-height: 2.25rem;
    max-width: 100%;
    width: auto;
}

.surveyCard_padding{
    padding: 2.5rem 2rem;
}

.swiper-text h3 {
    font-size: 2.25rem;
    line-height: 1.33333;
}

.swiper-text a {
    color: rgba(255, 255, 255, 0.8);
}

.swiper-text a:hover {
    color: rgb(255, 255, 255);
}

.swiper-pagination {
    top: 13px;
    z-index: 1;
    text-align: end;
}

.swiper-pagination-bullet-active {
    width: 3.75rem;
    opacity: 0.4;
    background: currentColor;
    cursor: pointer;
    height: 8px;
    border-radius: 2rem;
    transition: all 0.3s ease 0s;
}

.swiper-nav {
    right: 10px;
    z-index: 1;
}

.swiper-nav svg path {
    stroke: rgb(122, 134, 154);
}

.swiper-nav:hover svg path {
    stroke: rgb(0, 184, 217);
}

/* surveyCard-Container End*/

/* pricing cards-Container */
.pricing-card {
    border: 1px solid rgb(223, 225, 230);
    padding: 1.5rem 1rem 2rem 1rem;
}

.pricing-card.active {
    border: 2px solid rgb(0, 184, 217);
}

.pricing-card.active .Sign-up-button a {
    background-color: rgb(230, 252, 255);
}

.pricing-card.active .Sign-up-button a:hover {
    background-color: white;
}

.user-counter {
    appearance: textfield;
    border-style: solid;
    border-width: 0px 0px 1px;
    color: rgb(9, 30, 66);
    margin: 0px 0.25rem;
    width: 4.5rem;
}

#peakMessage {
    display: none;
    color: black;
    font-size: 16px;
    margin-bottom: 38px;
}

#priceRange {
    width: 100%;
}

.Sign-up-button a {
    border: 1px solid rgb(0, 184, 217);
    padding: 0.7rem 1rem 0.8rem;
    color: rgb(23, 43, 77);
}

.Sign-up-button a:hover {
    border: 1px solid rgb(0, 184, 217);
    background-color: rgb(230, 252, 255);
    border-color: rgb(0, 184, 217);
    color: rgb(23, 43, 77);
}

/* pricing cards-Container End*/

.ford-section h2 {
    font-size: 2.25rem;
    line-height: 1.33333;
}

.ford-section {
    background: url(/assests/images/BigSwingFooterHeroGraphic__Left.svg) left center / contain no-repeat scroll padding-box border-box, url(/assests/images/BigSwingFooterHeroGraphic__Right.svg) right center / contain no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
}

/* footer-section */
.footer-section {
    background-color: rgb(23, 43, 77);
}

.footer-text :hover {
    background-color: rgb(52, 69, 99);
    cursor: pointer;
}

.border-line {
    border-top: 1px solid rgb(80, 95, 121);
}

.footer-icon a {
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    height: 26px;
    width: 26px;
}

.survey_card-section {
    background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto no-repeat scroll padding-box border-box transparent;
}

.trello_heading_section {
    background: linear-gradient(rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto no-repeat scroll padding-box border-box transparent;
}

/* footer-section End*/

/* Media Query */
@media screen and (max-width: 1197.7px) {
    .py-120 {
        padding-top: 160px;
        padding-bottom: 60px;
    }

    h1 {
        font-size: 3rem;
        line-height: 1.25;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    .fs-18 {
        font-size: 14px;
    }

    .btn {
        padding: 14px 20px;
    }

    .header_a {
        color: rgb(23, 43, 77);
        padding: 0.9rem 1.5rem;
    }
}

@media screen and (max-width: 991.7px) {
    h1 {
        font-size: 2.75rem;
        line-height: 1.18182;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 16px;
    }

    .active h3 {
        font-size: 16px;
    }

    .border-line-bottom {
        border-bottom: 1px solid rgb(80, 95, 121);
        width: 96%;
        padding-left: 2rem;
    }

    .ford-section-md {
        background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
        background-blend-mode: normal;
    }
}

@media screen and (max-width: 767.97px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 26px;
    }

    p {
        font-size: 15px;
    }

    .btn {
        padding: 13px 88px;
    }

}

@media screen and (max-width: 575.7px) {
    .py-120 {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .py-20 {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    .btn {
        padding: 13px 88px;
    }
}